<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or summary or metadata.description }}">
  <link rel="dns-prefetch" href="https://identity.netlify.com">

  {# Third-party scripts #}
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  {# Fonts #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  {# CSS #}
  <link rel="stylesheet" href="/assets/css/main.css">

  {# Javascript #}
  <script async src="/assets/js/main.bundle.js"></script>
  <!-- GTranslate: https://gtranslate.io/ -->
<style type="text/css">
    <!--
    #goog-gt-tt {display:none !important;}
    .goog-te-banner-frame {display:none !important;}
    .goog-te-menu-value:hover {text-decoration:none !important;}
    .goog-te-gadget-icon {background-image:url(//gtranslate.net/flags/gt_logo_19x19.gif) !important;background-position:0 0 !important;}
    body {top:0 !important;}
    -->
    
</head>
